global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  http-request use-service prometheus-exporter if { path /metrics }
  stats refresh 10s

frontend frontend
  bind :8080
  acl to_api dst_port 8080
  use_backend stream if to_api

backend stream
  balance roundrobin
  server-template stream-app 1-10 _s3MediaStreamer._tcp.service.consul resolvers consul    resolve-opts allow-dup-ip resolve-prefer ipv4 check

resolvers consul
    nameserver consul consul:8600
    accepted_payload_size 8192
    hold valid 5s
